html,
body,
div,
ul,
li,
a,
h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
span,
button,
input,
textarea,
form,
fieldset,
legend,
dl,
dt,
dd,
table,
tr,
td,
th,
thead,
tbody,
tfoot,
form,
select,
option {
    margin: 0;
    padding: 0;
    outline: 0;
    list-style: none;
    border: 0;
    // font-size: 100%;
    // vertical-align: baseline;
    // -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
